extends layout.pug

block content
  .tooltip
  h1= branchName
  button.list-btn= "список"
  button.graph-btn= "граф"
  svg
  ul.list
    for commit in commits
      li
        a(
          href=`/commit/${commit.hash}/`
          class="graph-node"
          id=commit.hash   
          data-subject=commit.subject
          data-parents=commit.parents
        )= commit.subject

block scripts
  script(src="https://d3js.org/d3.v4.min.js")
  script(src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.min.js")
  script(src="/js/graph.js")