extends layout.pug

block content
  h4.repo-url= repoUrl
  ul
    each _branch in branches
      - var branch = _branch.slice(2)
      li(class=_branch.startsWith('* ') ? 'head' : '')
        span= branch + ": "
        a.link(href=`branch/${branch}/`)= "коммиты"
        a.link(href=`commit/${branch}/`)= "файлы"
